body{
    background-color: white;
    color: #484848;
    font-style: normal;

}
a{
    color: red;
    text-decoration: none;
}
.first{
    background-color: #FFFAFA;
    height: 700px;  
}
.first_text{
    margin-left: 25%;
    width: 50%;
    text-align: center;
}
.button_a{
    padding: 15px;
    background-color: red;
    color: white;
    margin: 1%;
}
.button_a:hover{
    background-color: white;
    color: red;
    border-color: red;
}
.button_b{
    padding: 15px;
    background-color: white;
    color: red;
    border-color: red;
    margin: 1%;
}
.button_b:hover{
    background-color: red;
    color: white;
}
.second{
    background-color: white;
}    
.second_text{
    width: 30%;
    text-align: center;
    margin-left: 35%;
}
.rouge{
    color: red;
}
.third{
    display: flex;
}
.third_a{
    background-color: #FFFAFA;
    width: 32%;
    margin: 2%;
    height: 500px;
}
.third_a_text{
    margin: 10%;
    ;
}
.blank{
    height: 200px;
}
.fourth{
    display: flex;
}
.fourthx img{
    width: 10%;
}
.fourth_a{
    width: 23%;
    margin: 2%;
    height: 200px;
}
.sizing{
    width: 50%;
    height: auto;
    background-size: contain;   
}
.fifth{
    text-align: center;
}